.devise-form, .devise-links{
	width: 320px;
	padding: 0;
	margin: 20px auto;
	border-color: #c5c5c5;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	border: 1px solid #bbbbbb;
	@include border-radius (4px);
	overflow: hidden;
}
.devise-form{
	h2{
		background-color: #f5f5f5;
		margin: 0;
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
	}
	form{
		margin: 0;
	}
	.fields{
		padding: 15px;
		background-color: $pureWhite;
	}
	.form-actions{
		margin: 0;
	}
}

.devise-links{
	@include box-sizing(border-box);
	padding: 10px;
	background-color: $offWhite;
}